.player-input {
  width: 100%;
  height: 40px;
  min-height: 40px;

  background-color: var(--color-background, #ffffff);
  color: var(--color-text, #333333);

  border: 2px solid var(--color-text, #333333);
  border-radius: 6px;
  outline: none;

  font-family: var(
    --font-family-base,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif
  );
  font-size: 16px;
  line-height: 1.5;

  padding: 0px;
  box-sizing: border-box; 

  -moz-appearance: textfield;
}

.player-input::-webkit-outer-spin-button,
.player-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.player-input[type="number"] {
  -moz-appearance: textfield;
}


.player-input:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}

.player-input:hover:not(:disabled):not(:focus) {
  border: 1px solid var(--color-text, #333333);
}

.player-input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


.player-input:focus-visible {
  outline: 2px solid var(--color-accent, #007bff);
  outline-offset: 2px;
}

.player-input {
  -webkit-appearance: none;
  appearance: none;
}

.player-input::placeholder {
  color: var(--color-text, #999999);
  opacity: 1;
  font-family: inherit;
}

@media (pointer: coarse) {
  .player-input {
    min-height: 44px;
    font-size: 16px;
  }
}
