.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.bpm-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin-right: 10px;
}

.time-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.time-panel div{
  width: 140px;
  text-align: left;
}