.volume {
  width: 100%;
}

.pan {
  width: 100%;
  height: 6px;
  background:
    linear-gradient(
      to right,
      transparent 0%,
      transparent 50%,
      var(--color-surface) 50%,
      var(--color-surface) 100%
    ),
    linear-gradient(
      to left,
      transparent 0%,
      transparent 50%,
      var(--color-error) 50%,
      var(--color-error) 100%
    );
  background-blend-mode: overlay;
  border-radius: 3px;
  outline: "none";
  -webkit-appearance: none;
}
